<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="Warn">
    <Appenders>
        <Console name="Console" targer="SYSTEM_OUT">
            <ParrentLayout pattern="%d{yyyy MM dd HH:mm:ss} [%t, %logger:$M] %-5level >> %msg%n "/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="All">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>